.mail__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  font-family: 'Century Gothic', 'Trebuchet MS', 'Hiragino Sans GB', '微软雅黑',
    'Microsoft Yahei', Tahoma, Helvetica, Arial, SimSun, sans-serif;
  &__subscriber,
  &__address {
    margin-bottom: 15px;
    justify-self: flex-start;
  }
}
