<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title> 标题 </title>
  </head>
  <body>
    <table style="width: 100%; height: 100%">
      <tbody>
        <tr>
           <style>.mail__container {  display: -webkit-box;  display: -ms-flexbox;  display: flex;  -webkit-box-orient: vertical;  -webkit-box-direction: normal;      -ms-flex-direction: column;          flex-direction: column;  width: 100%;  max-width: 600px;  margin: 2rem auto;  padding: 2rem 1rem;  border-radius: 10px;  -webkit-box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.15);          box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.15);  overflow: hidden;  font-family: 'Century Gothic', 'Trebuchet MS', 'Hiragino Sans GB', '微软雅黑',    'Microsoft Yahei', Tahoma, Helvetica, Arial, SimSun, sans-serif;}  .mail__container__subscriber,  .mail__container__address {    margin-bottom: 15px;    justify-self: flex-start;  }</style> 
          <td>
            <div class="mail__container">
              <!-- 订阅者名称 -->
              
              <div class="mail__container__subscriber">testName</div>
              
              <!-- 订阅者邮箱 -->
              
              <div class="mail__container__address">example@example.com</div>
              
              <!-- 订阅链接 -->
              
              <div class="mail__container__subscribeUrl">
                <a href="https://example.com">确认订阅</a>
              </div>
              
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
